body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    top: 0px;
    padding: 16px 0;
    background: white;
    display: flex;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 100%;
}

footer {
    position: sticky;
    bottom: 0px;
    padding: 8px 0;
    background: white;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 20%;
    height: 100%;
}

.title {
    margin: 4px;
}

.card {
    cursor: default;
    padding: 8px;
    border: 1px dotted gray;
    margin: 4px;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open {
    visibility: visible;
    opacity: 1;
}

.modal-bg {
    position: absolute;
    background: #FFFFFFC0;
    width: 100%;
    height: 100%;
}

.modal-container {
    position: relative;
    padding: 8px;
    border: 1px dotted gray;
}

.modal button {
    margin-top: 8px;
}