:root {
    --color-red: #EC4339;
    --color-green: #7CB82F;
    --color-blue: #00A0DC;
    --color-yellow: #EFB920;
    --color-pink: #ED4795;
    --color-cyan: #00AEB3;
    --color-violet: #8C68CB;
    --color-orange: #F47B16;
    --color-grey-light: #d3d3d3;
    --color-grey-dark: #808080;
    --color-black: #000000;
    --color-white: #ffffff;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    top: 0px;
    padding: 16px 0;
    background: white;
    display: flex;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 100%;
}

footer {
    position: sticky;
    bottom: 0px;
    padding: 8px 0;
    background: white;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 20%;
    height: 100%;
}

.card {
    cursor: default;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open {
    visibility: visible;
    opacity: 1;
}

.modal-bg {
    position: absolute;
    background: #FFFFFFC0;
    width: 100%;
    height: 100%;
}

.modal-container {
    position: relative;
    padding: 8px;
    border: 1px dotted gray;
}
